{
  "oauthPersonaAuthenticationUrl": "{{auth_server_external_url}}/static/auth/index.html",
  "defaultServiceUrl": "{{api_stu3_server_external_url}}/hspc4/data",
  "baseServiceUrl": "{{api_dstu2_server_external_url}}/",
  "oauthLogoutUrl": "{{auth_server_external_url}}/logout",
  "userManagementUrl": "{{account_server_external_url}}",
  "sandboxManagerRESTUrl": "{{sandman_server_external_url}}/REST",
  "personaCookieDomain": "{{auth_server_persona_cookie_domain}}",
  "personaCookieName": "hspc-persona-token",
  "personaCookieTimeout": 180000,
  "hspcAccountCookieName": "hspc-token"
}
