[
    {
        "clientName" : "Bilirubin Chart",
        "authClient": {
            "clientId" : "bilirubin_chart",
            "redirectUri" : "https://bilirubin-risk-chart.hspconsortium.org/"
        },
        "launchUri" : "https://bilirubin-risk-chart.hspconsortium.org/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/bilirubin/logo/bilirubin.png",
        "patient" : {"fhirId": "BiliBaby"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Growth Chart",
        "authClient": {
            "clientId" : "growth_chart",
            "redirectUri" : "https://apps.hspconsortium.org/hspc-reference-apps/static/apps/growth-chart/"
        },
        "launchUri" : "https://apps.hspconsortium.org/hspc-reference-apps/static/apps/growth-chart/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/growth-chart/logo/growth-chart.png",
        "patient" : {"fhirId": "SMART-1482713"},
        "contextParams" : [{"name": "smart_style_url", "value" :"https://fhir.smarthealthit.org/stylesheets/smart_v1.json"},{"name":"need_patient_banner", "value" :true}],
        "persona" : ""
    },
    {
        "clientName" : "Cardiac Risk",
        "authClient": {
            "clientId" : "cardiac_risk",
            "redirectUri" : "https://apps.hspconsortium.org/hspc-reference-apps/static/apps/cardiac-risk/"
        },
        "launchUri" : "https://apps.hspconsortium.org/hspc-reference-apps/static/apps/cardiac-risk/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/cardiac-risk/logo/cardiac-risk.png",
        "patient" : {"fhirId": "SMART-2113340"},
        "contextParams" : [{"name": "smart_style_url", "value" :"https://fhir.smarthealthit.org/stylesheets/smart_v1.json"},{"name":"need_patient_banner", "value" :true}],
        "persona" : ""
    },
    {
        "clientName" : "Duke Pillbox",
        "authClient": {
            "clientId" : "f0ea39ca-9ad0-4676-baae-d28878baf75e",
            "redirectUri" : "http://pillbox.medapptech.com/initapp/"
        },
        "launchUri" : "http://pillbox.medapptech.com/initapp/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/medapptech/logo/duke-pillbox.png",
        "patient" : {"fhirId": "SMART-1288992"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Patient Data Manager",
        "authClient": {
            "clientId" : "patient_data_manager",
            "redirectUri" : "https://apps.hspconsortium.org/hspc-patient-data-manager/static/patient-data-manager/"
        },
        "launchUri" : "https://apps.hspconsortium.org/hspc-patient-data-manager/static/patient-data-manager/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/hspc-patient-data-manager/logo/pdm.png",
        "patient" : {"fhirId": "BiliBaby"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Patient Appointments",
        "authClient": {
            "clientId" : "hspc_appointments",
            "redirectUri" : "http://appointments.hspconsortium.org/index.html"
        },
        "launchUri" : "https://appointments.hspconsortium.org/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/hspc-appointments/logo/appointments.png",
        "patient" : {"fhirId": "COREPATIENT1"},
        "contextParams" : [],
        "persona" : {"personaUserId": "Buford@hspcdemo", "password": "password"}
    },
    {
        "clientName" : "Practitioner Appointments",
        "authClient": {
            "clientId" : "hspc_appointments",
            "redirectUri" : "https://appointments.hspconsortium.org/index.html"
        },
        "launchUri" : "https://appointments.hspconsortium.org/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/hspc-appointments/logo/appointments.png",
        "patient" : "",
        "contextParams" : [],
        "persona" : {"personaUserId": "Kurtis@hspcdemo", "password": "password"}
    }
]
