[
    {
        "clientName" : "RxCheck",
        "authClient": {
            "clientId" : "f136196f-1267-450d-99e0-826f0a11eaeb",
            "redirectUri" : "https://www.rxcheck.com/fhir"
        },
        "launchUri" : "https://www.rxcheck.com/fhir/launch",
        "logoUri" : "https://content.hspconsortium.org/images/rxcheck/logo/rxcheck-logo.png",
        "patient" : {"fhirId": "SMART-5555002"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Visual DX",
        "authClient": {
            "clientId" : "040c7a59-7250-43e6-946d-941e765320a6",
            "redirectUri" : "https://clupea.visualdx.com/smart/v2/fhir.html"
        },
        "launchUri" : "https://clupea.visualdx.com/smart/v2/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/visualdx/logo/visualdx_logo.png",
        "patient" : {"fhirId": "SMART-1288992"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Neonatal Sepsis Scores",
        "authClient": {
            "clientId" : "ac0c7180-6077-4b0f-8a64-98a53a30ee00",
            "redirectUri" : "http://www.medicalalgorithms.com/hspc_use_case"
        },
        "launchUri" : "http://www.medicalalgorithms.com/hspc_use_case/launch",
        "logoUri" : "https://content.hspconsortium.org/images/medicalalgorithms/logo//Medal_logo_420x300.png",
        "patient" : {"fhirId": "SMART-1288992"},
        "contextParams" : [],
        "persona" : {"personaUserId": "Kurtis@hspcdemo", "password": "password"}
    },
    {
        "clientName" : "Rimidi Diabetes+Me",
        "authClient": {
            "clientId" : "bce6807d-d830-4ef8-aa88-58b6bbb76a0a",
            "redirectUri" : "https://stg.diabetesplusme.com/initapp/"
        },
        "launchUri" : "https://stg.diabetesplusme.com/initapp/launch",
        "logoUri" : "https://content.hspconsortium.org/images/diabetesplusme/logo/rimidi.png",
        "patient" : {"fhirId": "LDME"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Bilirubin Chart",
        "authClient": {
            "clientId" : "bilirubin_chart",
            "redirectUri" : "https://bilirubin-risk-chart.hspconsortium.org/"
        },
        "launchUri" : "https://bilirubin-risk-chart.hspconsortium.org/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/bilirubin/logo/bilirubin.png",
        "patient" : {"fhirId": "BiliBaby"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Meducation RS",
        "authClient": {
            "clientId" : "meducation",
            "redirectUri" : "https://fhir-dstu2.meducation.com/index.html"
        },
        "launchUri" : "https://fhir-dstu2.meducation.com/launch.html",
        "logoUri" : "https://fhir-dstu2.meducation.com/images/meducation_icon.png",
        "patient" : {"fhirId": "SMART-5555003"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Meducation Timeview",
        "authClient": {
            "clientId" : "timeview",
            "redirectUri" : "https://timeviewfhir-dstu2.meducation.com/index.html"
        },
        "launchUri" : "https://timeviewfhir-dstu2.meducation.com/launch.html",
        "logoUri" : "http://timeviewfhir-dstu2.meducation.com/images/MeducationTimeview251x160.png",
        "patient" : {"fhirId": "SMART-5555003"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Growth Chart",
        "authClient": {
            "clientId" : "growth_chart",
            "redirectUri" : "https://apps.hspconsortium.org/hspc-reference-apps/static/apps/growth-chart/"
        },
        "launchUri" : "https://apps.hspconsortium.org/hspc-reference-apps/static/apps/growth-chart/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/growth-chart/logo/growth-chart.png",
        "patient" : {"fhirId": "SMART-1482713"},
        "contextParams" : [{"name": "smart_style_url", "value" :"https://fhir.smarthealthit.org/stylesheets/smart_v1.json"},{"name":"need_patient_banner", "value" :true}],
        "persona" : ""
    },
    {
        "clientName" : "BP Centiles v2",
        "authClient": {
            "clientId" : "ad36fdd9-be79-4ffc-96f8-c7ca5e195e19",
            "redirectUri" : "https://bpc.medapptech.com"
        },
        "launchUri" : "https://bpc.medapptech.com/launch_hspc.html",
        "logoUri" : "https://content.hspconsortium.org/images/medapptech/logo/bpc2.png",
        "patient" : {"fhirId": "SMART-99912345"},
        "contextParams" : [{"name": "smart_style_url", "value" :"https://fhir.smarthealthit.org/stylesheets/smart_v1.json"},{"name":"need_patient_banner", "value" :true}],
        "persona" : ""
    },
    {
        "clientName" : "Cardiac Risk",
        "authClient": {
            "clientId" : "cardiac_risk",
            "redirectUri" : "https://apps.hspconsortium.org/hspc-reference-apps/static/apps/cardiac-risk/"
        },
        "launchUri" : "https://apps.hspconsortium.org/hspc-reference-apps/static/apps/cardiac-risk/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/cardiac-risk/logo/cardiac-risk.png",
        "patient" : {"fhirId": "SMART-2113340"},
        "contextParams" : [{"name": "smart_style_url", "value" :"https://fhir.smarthealthit.org/stylesheets/smart_v1.json"},{"name":"need_patient_banner", "value" :true}],
        "persona" : ""
    },
    {
        "clientName" : "Duke Pillbox",
        "authClient": {
            "clientId" : "f0ea39ca-9ad0-4676-baae-d28878baf75e",
            "redirectUri" : "http://pillbox.medapptech.com/initapp/"
        },
        "launchUri" : "http://pillbox.medapptech.com/initapp/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/medapptech/logo/duke-pillbox.png",
        "patient" : {"fhirId": "SMART-1288992"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Patient Data Manager",
        "authClient": {
            "clientId" : "patient_data_manager",
            "redirectUri" : "https://apps.hspconsortium.org/hspc-patient-data-manager/static/patient-data-manager/"
        },
        "launchUri" : "https://apps.hspconsortium.org/hspc-patient-data-manager/static/patient-data-manager/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/hspc-patient-data-manager/logo/pdm.png",
        "patient" : {"fhirId": "BiliBaby"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Premier AKI Staging",
        "authClient": {
            "clientId" : "1396ff99-8012-4043-8d33-7a1139f08ccc",
            "redirectUri" : "http://premiercdsapps-env.us-east-1.elasticbeanstalk.com/PremierSmartApp/PRPHome.html"
        },
        "launchUri" : "http://premiercdsapps-env.us-east-1.elasticbeanstalk.com/PremierSmartApp/launchFromHSPC.html",
        "logoUri" : "https://content.hspconsortium.org/images/premier/logo/AKIStagingApp.png",
        "patient" : {"fhirId": "SMART-1288992"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "ClinDat",
        "authClient": {
          "clientId" : "26bc47e9-c182-4136-855b-6e7b1bb67e9f",
            "redirectUri" : "https://apps.medapptech.com:9004/fhir-app/authorize.html"
        },
        "launchUri" : "https://apps.medapptech.com:9004/fhir-app/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/medapptech/logo/clin-dat.png",
        "patient" : {"fhirId": "SMART-9995679"},
        "contextParams" : [],
        "persona" : {"personaUserId": "Kurtis@hspcdemo", "password": "password"}
    },
    {
        "clientName" : "Health Ally Connect",
        "authClient": {
            "clientId" : "a2a37344-62d1-498f-8787-75b1341b6f46",
            "redirectUri" : "https://hspc-portal-conditionplatform-osiamedical.azurewebsites.net/"
        },
        "launchUri" : "https://hspc-portal-conditionplatform-osiamedical.azurewebsites.net/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/osiamedical/logo/health-ally-210x150.png",
        "patient" : {"fhirId": "SMART-1577780"},
        "contextParams" : [],
        "persona" : ""
    },
    {
        "clientName" : "Patient Appointments",
        "authClient": {
            "clientId" : "hspc_appointments",
            "redirectUri" : "http://appointments.hspconsortium.org/index.html"
        },
        "launchUri" : "https://appointments.hspconsortium.org/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/hspc-appointments/logo/appointments.png",
        "patient" : {"fhirId": "COREPATIENT1"},
        "contextParams" : [],
        "persona" : {"personaUserId": "Buford@hspcdemo", "password": "password"}
    },
    {
        "clientName" : "Practitioner Appointments",
        "authClient": {
            "clientId" : "hspc_appointments",
            "redirectUri" : "https://appointments.hspconsortium.org/index.html"
        },
        "launchUri" : "https://appointments.hspconsortium.org/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/hspc-appointments/logo/appointments.png",
        "patient" : "",
        "contextParams" : [],
        "persona" : {"personaUserId": "Kurtis@hspcdemo", "password": "password"}
    },
    {
        "clientName" : "BP Centiles",
        "authClient": {
            "clientId" : "bp_centiles",
            "redirectUri" : "https://apps.hspconsortium.org/hspc-reference-apps/static/apps/bp-centiles/"
        },
        "launchUri" : "https://apps.hspconsortium.org/hspc-reference-apps/static/apps/bp-centiles/launch.html",
        "logoUri" : "https://content.hspconsortium.org/images/bp-centiles/logo/bpc.png",
        "patient" : {"fhirId": "SMART-99912345"},
        "contextParams" : [{"name": "smart_style_url", "value" :"https://fhir.smarthealthit.org/stylesheets/smart_v1.json"},{"name":"need_patient_banner", "value" :true}],
        "persona" : ""
    }
]
