[Unit]
Description=HSPC API stu3_v3 Server

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/api_stu3_v3

ExecStart={{java_home}}/bin/java \
 -Xms{{api_stu3_v3_server_initial_memory}} \
 -Xmx{{api_stu3_v3_server_max_memory}} \
 -Djetty.port={{api_stu3_v3_server_internal_port}} \
 -Djetty.host={{api_stu3_v3_server_internal_host}} \
 -Dhspc.platform.api.fhir.db.host={{api_stu3_v3_mysql_host}} \
 -Dhspc.platform.messaging.subscriptionSupport.enabled=false \
 -Dspring.jpa.show-sql=false \
 -Dhspc.platform.api.sandbox.useHspcStarterData=true \
 -Dhspc.platform.api.security.mode=secured \
 -Dhspc.platform.api.fhir.db.username={{api_stu3_v3_mysql_username}} \
 -Dhspc.platform.api.fhir.db.password={{api_stu3_v3_mysql_password}} \
 -Dspring.jpa.hibernate.ddl-auto=validate \
 -Dspring.profiles.active=multitenant,production \
 -Dhspc.platform.messaging.url={{messaging_server_external_url}}/ \
 -Dhibernate.search.default.indexBase={{hosting_user_home}}/api_stu3_v3/lucenefiles \
 -Dhspc.platform.api.fhir.datasource.cache.size=5 \
 -Dspring.datasource.maxActive=10 \
 -Dspring.datasource.initialSize=1 \
 -Dhspc.platform.authorization.url={{auth_server_external_url}} \
 -jar {{hosting_user_home}}/jetty-runner.jar \
 --config {{hosting_user_home}}/jetty.xml \
 api-v3-beanstalk.war
Restart=always

[Install]
WantedBy=multi-user.target
