[Unit]
Description=HSPC bilirubin_cdshooks Server

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/bilirubin_cdshooks

ExecStart={{java_home}}/bin/java \
 -Xms{{bilirubin_cdshooks_server_initial_memory}} \
 -Xmx{{bilirubin_cdshooks_server_max_memory}} \
 -jar {{bilirubin_cdshooks_server_artifact_artifact_id}}-{{bilirubin_cdshooks_server_artifact_version}}.{{bilirubin_cdshooks_server_artifact_packaging}}
Restart=always

[Install]
WantedBy=multi-user.target
