# the nginx server instance
server {
    server_name {{appointments_server_external_host}};

    listen {{appointments_server_external_port}};

    location / {
        root {{hosting_user_home}}/appointments/appointments/src/main/webapp/appointments;
        expires 1h;
        add_header Cache-Control "public";

        access_log /var/log/nginx/appointments_access.log;
    }

{% if use_secure_http %}
    ssl on;
    ssl_certificate /etc/nginx/ssl/{{certificate_crt_filename}};
    ssl_certificate_key /etc/nginx/ssl/{{certificate_key_filename}};
{% endif %}
}

{% if appointments_server_external_port != 80 and use_secure_http %}
server {
    server_name {{appointments_server_external_host}};
    listen 80;
    listen [::]:80;
    return 301 https://$server_name$request_uri;
}
{% endif %}
