[Unit]
Description={{system_name}}
After=syslog.target

[Service]
User={{hosting_username}}
{% if system_environment_template_provided %}
EnvironmentFile={{service_working_dir}}/{{service_name}}.conf
{% endif %}
WorkingDirectory={{system_working_dir}}
ExecStart={{system_start_command}}
TimeoutStartSec=infinity
SuccessExitStatus={{system_success_status | default('143')}}

[Install]
WantedBy=multi-user.target