export NGINX_HOME={{nginx_home}}
export NGINX_SITES=$NGINX_HOME/sites-enabled
export SERVICE_HOME=/etc/systemd/system
export FHIR_HOME={{fhir_home}}
export EDITOR=vi

alias n='cd $NGINX_SITES'
alias s='cd $SERVICE_HOME'

# tail services
alias tapidstu2='sudo journalctl -f -u api_dstu2.service'
alias tapistu3v2='sudo journalctl -f -u api_stu3_v2.service'
alias tapistu3v3='sudo journalctl -f -u api_stu3_v3.service'
alias tapistu3='sudo journalctl -f -u api_stu3.service'
alias tauth='sudo journalctl -f -u auth.service'
alias tmessaging='sudo journalctl -f -u messaging.service'
alias tapps='sudo journalctl -f -u apps.service'
alias tpp='sudo journalctl -f -u patient_picker.service'
alias tsandman='sudo journalctl -f -u sandman.service'
alias tgallery='sudo journalctl -f -u gallery.service'
alias tbilirubin_cdshooks='sudo journalctl -f -u billirubin_cdshooks.service'
alias tbilirubin_risk_chart='sudo journalctl -f -u billirubin_risk_chart.service'
alias tnginx='sudo journalctl -f -u nginx.service'

# view services
alias vapidstu2='sudo journalctl -u api_dstu2.service'
alias vapistu3v2='sudo journalctl -u api_stu3_v2.service'
alias vapistu3v3='sudo journalctl -u api_stu3_v3.service'
alias vapistu3='sudo journalctl -u api_stu3.service'
alias vauth='sudo journalctl -u auth.service'
alias vmessaging='sudo journalctl -u messaging.service'
alias vapps='sudo journalctl -u apps.service'
alias vpp='sudo journalctl -u patient_picker.service'
alias vsandman='sudo journalctl -u sandman.service'
alias vgallery='sudo journalctl -u gallery.service'
alias vbilirubin_cdshooks='sudo journalctl -u bilirubin_cdshooks.service'
alias vbilirubin_risk_chart='sudo journalctl -u bilirubin_risk_chart.service'
alias vnginx='sudo journalctl -u nginx.service'

alias f='cd $FHIR_HOME'

alias stopn='sudo service nginx stop'
alias startn='sudo service nginx start'
alias build='~/build.sh'
alias p='cd $PROVISIONING_HOME'
alias m='mysql -h {{mysql_host}} -u {{mysql_username}} -p{{mysql_password}}'

alias b='sudo ansible-playbook  -c local -i 'localhost,' -vvvv site.yml'
alias echob='echo sudo ansible-playbook  -c local -i 'localhost,' -vvvv site.yml'
alias v='sudo ansible-playbook  -c local -i 'localhost,' -vvvv site.yml'
alias echov='echo sudo ansible-playbook  -c local -i 'localhost,' -vvvv site.yml'
