jetty.port={{auth_server_internal_port}}
jetty.host=localhost
spring.profiles.active=production
oidc.datasource.mysql.url=jdbc:mysql://{{auth_server_mysql_host}}:{{mysql_port}}/{{auth_server_database}}
oidc.datasource.mysql.username={{mysql_username}}
oidc.datasource.mysql.password={{mysql_password}}
oidc.issuer={{auth_server_external_url}}
hspc.platform.persona.oauthUserLoginEndpointURL={{auth_server_external_url}}/j_spring_security_check
CONTEXT_FHIR_ENDPOINT={{auth_server_CONTEXT_FHIR_ENDPOINT}}
CONTEXT_RESOLVE_ENDPOINT={{patient_picker_server_external_url}}
hspc.platform.jwt.key={{hspc_platform_jwt_key}}
hspc.platform.sandbox.host={{sandman_server_external_url}}
hspc.platform.persona.cookieDomain={{auth_server_persona_cookie_domain}}
hspc.platform.firebase.projectName={{auth_server_firebase_project_name}}
hspc.platform.firebase.databaseUrl={{account_firebase_database_url}}
hspc.platform.accountLoginPage={{account_accountLoginPage}}
hspc.platform.accountLogoutPage={{account_accountLogoutPage}}
