[Unit]
Description=HSPC Auth Service

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/auth

ExecStart={{java_home}}/bin/java \
 -Xms{{auth_server_initial_memory}} \
 -Xmx{{auth_server_max_memory}} \
 -Djetty.port={{auth_server_port}} \
 -Djetty.host={{auth_server_host}} \
 -Doidc.datasource.mysql.url=jdbc:mysql://{{mysql_endpoint}}/{{auth_server_database}} \
 -Doidc.datasource.mysql.username={{mysql_username}} \
 -Doidc.datasource.mysql.password={{mysql_password}} \
 -Doidc.issuer={{auth_server_url}}/ \
 -Dhspc.platform.persona.oauthUserLoginEndpointURL={{auth_server_url}}/j_spring_security_check \
 -DCONTEXT_FHIR_ENDPOINT={{api_stu3_server_external_url}} \
 -DCONTEXT_RESOLVE_ENDPOINT={{apps_server_external_url}}/patient-picker \
 -Dhspc.platform.jwt.key={{hspc_platform_jwt_key}} \
 -Dhspc.platform.sandbox.host={{sandbox_manager_server_external_url}} \
 -Dhspc.platform.persona.cookieDomain={{hspc_platform_persona_cookie_domain}} \
 -Dhspc.platform.firebase.projectName=hspc \
 -Dhspc.platform.firebase.databaseUrl=https://hspc-3f7ad.firebaseio.com \
 -Dhspc.platform.accountLoginPage=https://account.hspconsortium.org \
 -Dhspc.platform.accountLogoutPage=https://account.hspconsortium.org/account/logout \
{% if use_secure_http and not use_custom_ssl_certificates %}
 -Djavax.net.ssl.trustStore={{hosting_user_home}}/keystore \
 -Djavax.net.ssl.trustStorePassword={{keystore_password}} \
{% endif %}
 -jar {{hosting_user_home}}/jetty-runner.jar \
 --config {{hosting_user_home}}/jetty.xml \
 {{auth_server_artifact_artifact_id}}-{{auth_server_artifact_version}}.war
Restart=always

[Install]
WantedBy=multi-user.target
