[Unit]
Description=Authorization Service

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{auth_server_project_target.folder}}/target

ExecStart={{java_home}}/bin/java \
 -Xms{{auth_server_initial_memory}} \
 -Xmx{{auth_server_max_memory}} \
 -DCONTEXT_FHIR_ENDPOINT=http://localhost:8070/data \
 -DCONTEXT_RESOLVE_ENDPOINT=http://localhost:8093/hspc-patient-picker \
 -DforgotPasswordUrl=http://pwm.hspconsortium.org/public/forgottenpassword \
 -Dhspc.platform.persona.oauthUserLoginEndpointURL=http://localhost:8060/j_spring_security_check \
 -Dhspc.platform.jwt.key=devKeyDoNotUseInProductionShouldBeOverwrittenInProdConfiguration \
 -Dhspc.platform.sandbox.host=http://localhost:8080 \
 -Dldap.password=FH!R4a11 \
 -Dldap.server=ldap://ldap.hspconsortium.org:10389/dc=hspconsortium,dc=org \
 -Dldap.url=ldap://ldap.hspconsortium.org:10389 \
 -DnewUserUrl=https://pwm.hspconsortium.org/public/newuser \
 -Doidc.datasource.mysql.password=FH!R4a11 \
 -Doidc.datasource.mysql.url=jdbc:mysql://apps.hspconsortium.org/oic \
 -Doidc.datasource.mysql.username=system \
 -Doidc.issuer=https://auth.hspconsortium.org/ \
 -Dhspc.platform.persona.cookieDomain=.hspconsortium.org \



 -Dspring.profiles.active=production \
 -Dspring.datasource.username=fhir \
 -Dspring.datasource.username=system \
 -DdefaultServiceUrl=https://api.hspconsortium.org/hspc/data \
 -DenvInfo.active=true \
 -Dhspc.platform.api.version1.baseUrl=https://api.hspconsortium.org \
 -DuserManagementUrl=https://pwm.hspconsortium.org \
 -DsbmUrlHasContextPath=false \
 -Dhspc.platform.api.version4.baseUrl=https://api4.hspconsortium.org \
 -Dhspc.platform.api.version3.baseUrl=https://api3.hspconsortium.org \
 -DoauthLogoutUrl=https://auth.hspconsortium.org/logout \
 -Dhspc.platform.authorization.baseUrl=https://auth.hspconsortium.org \
 -DbaseServiceUrl_4=https://api4.hspconsortium.org/ \
 -DbaseServiceUrl_3=https://api3.hspconsortium.org/ \
 -DbaseServiceUrl_2=https://api2.hspconsortium.org/ \
 -DbaseServiceUrl_1=https://api.hspconsortium.org/ \
 -DpersonaCookieDomain=hspconsortium.org \
 -Dspring.datasource.url=jdbc:mysql://sandboxdb.hspconsortium.org:3306/sandman?autoReconnect=true \
 -DhspcEnv=prod \
 -Dhspc.platform.messaging.baseUrl=https://messaging.hspconsortium.org/ \
 -Dhspc.platform.api.version2.baseUrl=https://api2.hspconsortium.org \
 -Dhspc.platform.defaultSandboxCreatorRoles=ADMIN,MANAGE_USERS,MANAGE_DATA \
 -DoauthPersonaAuthenticationUrl=https://persona-auth.hspconsortium.org/static/auth/index.html \
 -Dhspc.platform.messaging.sendEmail=true \
 -Dhspc.platform.defaultSystemRoles=USER,CREATE_SANDBOX \
 -Dhspc.platform.defaultPrivateSandboxRoles=USER,MANAGE_USERS,MANAGE_DATA \
 -Dhspc.platform.defaultSandboxVisibility=PRIVATE \
 -Dspring.datasource.password=FH!R4a11 \
 -Dhspc.platform.defaultPublicSandboxRoles=USER \
 -Dhspc.platform.authorization.adminAccess.clientId=sandman_admin \
 -Dhspc.platform.authorization.adminAccess.clientSecret=APkVFd_bcp4vNJmNZGlYiPqnuzmhJ-Pbf4UOvyYIUdb6RrTA5XAphPpE__f-WWDR87sII9U33XEC4dRiMh3v_YQ \
 -Dhspc.platform.jwt.key=aZzGERZNzPP2fjEsiNY9mjEcK6dNTB7fML8zzgPTRVrMxWivKsvavM8KnCYH4Ke6 \





 -Djetty.port={{auth_server_internal_port}} \
 -Djetty.host={{auth_server_internal_host}} \
 -Doidc.issuer={{auth_server_url}} \
 -DpersonaCookieDomain=hspconsortium.org \
 -DoauthPersonaAuthenticationUrl=https://persona-auth.hspconsortium.org/static/auth/index.html \
 -Dmock.endpoints.enabled={{auth_server_enable_mock_endpoints}} \
 -DCONTEXT_FHIR_ENDPOINT={{api_stu3_server_default_sandbox_fhir_root_url}} \
 -DCONTEXT_RESOLVE_ENDPOINT={{app_server_base}}/apps/patient-picker \
 -Doidc.datasource.mysql.url=jdbc:mysql://{{mysql_endpoint}}/{{auth_server_database}} \
 -Doidc.datasource.mysql.username={{mysql_username}} \
 -Doidc.datasource.mysql.password={{mysql_password}} \
 -Dldap.url={{apacheds_server_url}} \
 -Dldap.server={{apacheds_server_url}}/{{apacheds_server_base}} \
 -Dldap.base={{apacheds_server_base}} \
 -Dldap.userDn={{apacheds_server_system_admin_dn}} \
 -Dldap.password={{apacheds_server_system_admin_password}} \
 -DnewUserUrl={{auth_server_newUserUrl}} \
 -DforgotPasswordUrl={{auth_server_forgotPasswordUrl}} \
{% if use_secure_http and not use_custom_ssl_certificates %}
 -Djavax.net.ssl.trustStore={{hosting_user_home}}/keystore \
 -Djavax.net.ssl.trustStorePassword={{keystore_password}} \
{% endif %}
 -jar {{hosting_user_home}}/jetty-runner.jar \
 --config {{hosting_user_home}}/jetty.xml \
 --path {{auth_server_context}} \
 hspc-reference-authorization.war
Restart=always

[Install]
WantedBy=multi-user.target
