[Unit]
Description=HSPC Messaging Server

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/messaging

ExecStart={{java_home}}/bin/java \
 -Xms{{messaging_server_initial_memory}} \
 -Xmx{{messaging_server_max_memory}} \
 -Dhspc.reference.api.url={{api_server_default_sandbox_url}} \
{% if use_secure_http %}
 -Dserver.ssl.key-store={{hosting_user_home}}/keystore \
 -Dserver.ssl.key-store-password={{keystore_password}} \
 -Dserver.ssl.keyStoreType=JKS \
{% endif %}
 -jar {{messaging_server_artifact_artifact_id}}-{{messaging_server_artifact_version}}.{{messaging_server_artifact_packaging}}
Restart=always

[Install]
WantedBy=multi-user.target
