[Unit]
Description=API-Service

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/api-server

ExecStart={{java_home}}/bin/java \
 -Xms{{api_server_initial_memory}} \
 -Xmx{{api_server_max_memory}} \
 -Dhspc.platform.api.fhir.db.username={{mysql_user}} \
 -Dhspc.platform.api.fhir.db.password={{mysql_pass}} \
{% if use_secure_http and not use_custom_ssl_certificates %}
 -Djavax.net.ssl.trustStore="{{hosting_user_home}}/keystore" \
 -Djavax.net.ssl.trustStorePassword="{{keystore_password}}" \
{% endif %}
 -jar {{api_server_artifact_info.artifact_id}}-{{api_server_artifact_info.version}}.{{api_server_artifact_info.packaging}}
Restart=always

[Install]
WantedBy=multi-user.target
