[Unit]
Description=HSPC Account Server

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/account/account

ExecStart=/usr/bin/npm run start-server
Restart=always

[Install]
WantedBy=multi-user.target
