[Unit]
Description=HSPC Account Server

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{account_project_home}}

ExecStart=/usr/bin/npm run start-server
Restart=always

[Install]
WantedBy=multi-user.target
